template(name="userAdmin")
  .container
    h1.page-header users
    if isUserAdmin
      each users
        +adminDisplayUser
    else
      h1 Access denied. You should not be here.

template(name="adminDisplayUser")
  .card-panel
    if showTrash
      span
        i.fa.fa-lg.fa-fw.fa-trash.icon-button.delete-button.pull-right
    .card-content
      h3 #{username}
      p emails: 
        each emails
          span #{address} 
      p roles:
        each allRoles
          span(class=roleClass) #{name} 
      p songs: #{songCount}  chords: #{chordCount}