template(name='navbar')
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/') tabby
        button.navbar-toggle.collapsed(type=button data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          //li
            a(href='/about') about
        ul.nav.navbar-nav.navbar-right
          li(class=isActivePath("/songs"))
            a(href="/songs") songs
          li(class=isActivePath("/chords"))
            a(href="/chords") chords
          li(class=isActivePath("/settings"))
            a(href="/settings")
              i.fa.fa-lg.fa-cog
          li(class=isActivePath("/help"))
            a(href="/help")
              i.fa.fa-lg.fa-question
          if isUserAdmin
            li(class=isActivePath("/user-admin"))
              a(href="/user-admin")
                i.fa.fa-lg.fa-users
          +loginButtons