template(name="chords")
  .container
    h1.page-header chords
      .form-inline.pull-right
        .input-group
          +instrumentPicker
        if loggedIn
          .input-group
            button.btn.btn-default.new-chord-button new chord
    .row
      each chords
        +chordDisplay

template(name="chordDisplay")
  .col-sm-4.col-lg-3
    .card-panel
      if mayEdit
        +chordDeleteButton
        +chordEditToggle
      .card-content
        h4 #{name}
        +tabDisplay(chord=this displayId=displayId size=160)
      if editing
        .card-editor
          +quickForm(collection="Chords" doc=this id=formId type="update" autosave=true buttonContent=false) 

template(name="chordEditToggle")
  span
    i.fa.fa-lg.fa-fw.fa-edit.icon-button.edit-toggle.pull-right
    

template(name="chordDeleteButton")
  span
    i.fa.fa-lg.fa-fw.fa-trash.icon-button.delete-button.pull-right