template(name="chords")
  .container
    h1.page-header chords
      button.btn.btn-default.new-chord-button.pull-right new chord
    each chords
      +chordDisplay

template(name="chordDisplay")
  .card-panel
    .card-content
      +deleteButton
      +editToggle
      h3 #{name}
      +tabDisplay(chord=this displayId=displayId)
    if editing
      .card-editor
        +quickForm(collection="Chords" doc=this id=formId type="update") 

template(name="editToggle")
  span
    i.fa.fa-lg.fa-fw.fa-edit.icon-button.edit-toggle.pull-right
    

template(name="deleteButton")
  span
    i.fa.fa-lg.fa-fw.fa-trash.icon-button.delete-button.pull-right