template(name="songPlay")
  .container
    .card-panel
      .player-header
        span
          span.player-button
            i.fa.fa-lg.fa-fw.fa-play.start-button
          span.player-button
            i.fa.fa-lg.fa-fw.fa-stop.stop-button
        span.song-title #{song.title}
      .card-content
        +playTabDisplay

template(name="playTabDisplay")
  .flex-container
    .tab-container.flex
      h4 #{beatFormatted} - #{currentChord.name}
      +tabDisplay(chord=currentChord displayId="current-tab" size=120)
      p #{currentLyrics}
    if nextChord
      .tab-container.flex
        h4 in #{countdown} - #{nextChord.name}
        +tabDisplay(chord=nextChord displayId="next-tab" size=120)
        p #{nextLyrics}