template(name="songPlay")
  .container
    .card-panel
      .card-content
        h1.page-header play - #{song.title}
        h3.start-button start
        h3.stop-button stop
        each tabs
          +playTabDisplay

template(name="playTabDisplay")
  if beatHelper.active
    h3 #{beatHelper.beatFormatted}
    .flex-container
      .tab-container.flex
        +tabDisplay(chord=chord displayId=_id size=120)
        h5 #{chord.name} - #{lyrics}
      .tab-container.flex
        h1 #{beatHelper.countdown}
      .tab-container.flex
        +tabDisplay(chord=beatHelper.nextChord displayId=beatHelper.nextTab._id size=120)
        h5 #{beatHelper.nextChord.name} - #{beatHelper.nextTab.lyrics}