template(name="songEdit")
  unless mayEdit
    +unAuthorized
  else
    .container
      .card-panel
        .card-content
          h3 Edit Song
          .card-editor
            +quickForm(collection="Songs" doc=song id=formId type="update" autosave=true buttonContent=false)
      h3.page-header Chords
        .form-inline.pull-right
          .input-group
            +instrumentPicker
      +sortable(items=chords options=chordSortableOptions)
        +chordTrayDisplay
      h3.page-header Song
      .card-panel
        .card-content
          +sortable(items=tabs options=tabSortableOptions)
            +songTabDisplay


template(name="chordTrayDisplay")
  .small-tab-container.draggable
    .card-panel
      .card-content
        .text-center #{name}
        +tabDisplay(chord=this displayId=_id size=60)


template(name="songTabDisplay")
  .tab-container.draggable(data-id=_id)
    .tab-bar
      if mayEdit
        span
          i.fa.fa-lg.fa-fw.fa-trash.delete-button.fa-pull-left
      h4.text-center #{chord.name}
    //span
      i.fa.fa-lg.fa-fw.fa-edit.icon-button.edit-button.pull-right
    +tabDisplay(chord=chord displayId=displayId size=120)
    .text-center
      span
        i.fa.fa-fw.fa-minus.minus-button
      span.beats-display #{beats} beats
      span
        i.fa.fa-fw.fa-plus.plus-button
    .text-center
      +editableText(options=lyricsFieldOptions)